html{ position:relative; }
body{ margin-bottom: 7em; background-color: #fff; }    
    a{color: #3b518c;}

    /* ul.navbar-nav.ml-auto.mt-2.mt-lg-0.frontend-navbar > li > a.nav-link { color: #fff; } */
    ul.navbar-nav.ml-auto.mt-2.mt-lg-0.frontend-navbar > li > a.nav-link {
        color: #7a7a7a;
        font-size: 18px;
    }
    #page {
        position: relative;
        word-wrap: break-word;
    }
    

    .fc-button .fc-icon {
        line-height: 18px;
    }


    .page-heading {
        padding: 0;
        position: relative;
        background: #1e2434;
        background-position: center !important;
        background-size: cover !important;
    }

    .page-heading .container {
        position: relative;
        height: 200px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .single.single-wa_solution .page-heading .container {
        justify-content: center;
    }

    .page-heading-content {
        padding: 0;
        width: 100%;
    }

    .page:not(.home) .site-content {
        padding: 0;
    }

    .page-heading::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
    }

    .page-heading h2,
    .page-heading h1 {
        color: #ffffff;
        margin: 0;
        font-size: 43px;
        font-weight: normal;
        line-height: 45px;
        padding-bottom: 10px;
        font-family: "Conv_Gotham-Rounded-Light";
    }

    .common-page-heading {
        margin-bottom: 100px;
    }

    .page-heading p {
        color: #ffffff;
        margin: 0;
        font-size: 18px;
        font-weight: normal;
        line-height: 20px;
        padding-bottom: 20px;
        font-family: "Conv_Gotham-Rounded-Light";
    }

    body{ padding-bottom: 0;}
    .bg-dark{ background-color: #00a9de !important; }
    /*start:footer*/
    .site-footer {
        margin-top: 0;
        border-top: 0;
        background-color: #6EC1E4;
    }

    .site-footer .container {
        /* min-height: 315px; */
        padding-top: 10px;
        padding-bottom: 20px;
        position: relative;
        background-color: #6EC1E4;
    }

    .footer-block {
        display: inline-block;
        vertical-align: top;
        /* padding-left: 75px; */
    }

    .footer-block:first-of-type {
        padding-left: 0;
    }

    .footer-block h4 {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 14px;
        padding-bottom: 10px;
    }

    .footer-block p {
        color: rgba(255, 255, 255, 0.7);
        font-size: 13px;
        font-weight: 500;
        font-family: "Gotham book";
    }

    aside#secondary .widget ul li a {
        position: relative;
        /* padding-left: 15px; */
    }

    aside#secondary .widget ul li a::before {
        content: "\f105 ";
        position: absolute;
        left: 0;
        top: -3px;
        font-family: "fontawesome";
        font-size: 18px;
    }

    .footer-address p:first-of-type {
        color: #fff;
        padding: 20px 0 4px 0;
        font-size: 16px;
    }

    .footer-link ul {
        margin: 0;
        padding: 0;
    }

    .footer-link ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .footer-block a {
        color: rgba(255, 255, 255, 0.7);
        font-size: 13px;
        font-weight: 500;
        font-family: "Gotham book";
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }

    .footer-block a:hover,
    .footer-block a:focus {
        color: #d9c56a;
        text-decoration: none;
    }

    /* .footer-blog-section {
        max-width: 360px;
    } */

    .footer-blog-section ul li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .footer-blog-section ul li+li {
        padding-top: 10px;
        line-height: 20px;
    }

    .footer-blog-section ul li a {
        font-size: 13px;
    }

    .select-country-block {
        /* width: 100%; */
        height: 42px;
        border: 1px solid #686c77;
        position: relative;
        margin-bottom: 30px;
        box-sizing: border-box;
    }

    ul#mrks-countries li {
        color: #fff;
        padding: 0 10px;
    }

    form#country_form {
        /* width: 100%; */
        position: absolute;
        background: #fff;
        z-index: 1;
    }


    .newsletter-block .newsletter-input {
        position: relative;
    }



    .social-section-area h4 {
        color: #d9c56a;
        text-transform: uppercase;
        font-size: 14px;
        text-align: center;
        padding-bottom: 20px;
    }

    .social-section-area > a {
        width: 40px;
        height: 40px;
        border: 2px solid #bcbec2;
        border-radius: 50%;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        line-height: 36px !important;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    .fa, .fab, .fal, .far, .fas { line-height: 36px !important;}
    .social-section-area a+a {
        margin-left: 10px;
    }

    .social-section-area a:hover {
        border-color: #d9c56a;
    }

    .social-section-area a i {
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }

    .social-section-area a:hover i {
        color: #d9c56a;
    }

    .social-section-area p {
        color: #ffffff;
        font-size: 13px;
        text-align: center;
        padding-top: 30px;
    }


    /*copyright*/
    .copyright {
        /* text-align: center; */
        padding: 30px 0 0;
        color: #fff;
        font-weight: bold;
        font-size: 16px;;
    }

    .copyright p,
    .copyright a {
        color: rgba(255, 255, 255, 0.78);
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.3px;
        font-weight: bold;
    }

    .copyright a:hover,
    .copyright a:focus {
        color: #d9c56a;
    }
    /*end:footer*/


    /*Improvement*/
    .back-to-top {
        text-align: center;
        opacity: 0.8;
        padding-top: 100px;
    }

    .back-to-top .GoTop {
        width: 40px;
        height: 40px;
        border: 2px solid #bcbec2;
        border-radius: 50%;
        color: #ffffff;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        font-size: 10px;
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        line-height: 15px;
        text-align: center;
        padding: 4px 2px 5px 2px;
        text-decoration: none;
    }

    .back-to-top .GoTop i {
        line-height: 10px !important;
        display: block;
        font-size: 16px;
    }

    .back-to-top .GoTop :hover i,
    .back-to-top .GoTop:hover {
        color: #d9c56a !important;
        border-color: #d9c56a;
        text-decoration: none;
    }


    /* Style the navbar */
    #sidemenu {
    overflow: hidden;
    }



    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
    position: fixed;
    top: 0;
    width: 355px;
    z-index: 9999;
    }

    .stickyleft {
        position: fixed;
        top: 0;
        width: 263px;
        z-index: 9999;
    }

    
    /* Login Box  */
    .card-box.login-ui {
        border: 2px solid #000;
    }

    .card-box.login-ui h2 {
        color: #6ec1e4;
        border-bottom: 1px solid #ccc;
        padding-bottom: 12px;
        font-size: 30px;
        font-weight: bold;
    }
    
    
    .btn-info{ color: #fff; background-color: #6EC1E4 !important;}
    .bg-info{ color: #fff; background-color: #6EC1E4 !important;}
    .btn-danger{ color: #fff !important; background-color: red;}

    .label {
        font-weight: bold;
        font-size: 18px;
        padding: 21px 0px;
    }

    .ac-content {
        font-size: 17px;
        color: #7a7a7a;
        border-top: 1px solid #7a7a7a;
        margin-top: 22px;
        padding-top: 18px;
    }

    .customer-title { 
        font-size: 16px;
        font-weight: bold;
        color: #000;
    }

    .ac-content.mail-btn {
        border: none;
        padding-top: 0;
        margin-top: 14px;
    }

    /* Messaing Area */
    .message-body {
        border: 2px solid #000;
        min-height: 500px;
    }

    .message-input {
        padding: 10px;
        border: 2px solid #000;
        border-top: navajowhite;
    }
    .conversation-list .ctext-wrap{ background-color: #fff;}
    .conversation-list .ctext-wrap:after{ border: none;}
    .conversation-list .conversation-text {
        float: left;
        font-size: 12px;
        margin-left: 0px;
        width: 100%;
    }
    li.clearfix.messagesent {
        text-align: right;
    }
    .conversation-list .ctext-wrap {
        background-color: #fff;
        border: 3px dashed;
        width: 50%;
        padding: 10px;
    }

    li.clearfix.messagesent .conversation-text .ctext-wrap {
        border-color: #61CE70;
        text-align: left;
    }
    .conversation-list .ctext-wrap p{ font-size: 16px;}

    .back-message{ 
        font-size: 18px;
        font-weight: bold;
        display: block;
        text-decoration: underline;
    }
    
    .modal-title{font-weight: bold;}
    
    
    
    
    
    
    
    
    
    
    footer.site-footer.footer-area{ position: absolute; width:100%; bottom:0; height:7em}

